---
# Only the main Sass file needs front matter (the dashes are enough)
---

$accent: #ffc311;
$dark: #43403a;
$light: #f3f3f3;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "animations",
        "utils",
        "flexbox",
        "header",
        "footer",
        "faq",
        "splash"
;
