<header>
  <img class="logo" src="./img/petbot-logo-light.png" />
  <div class="menu-right">
    <a href="https://twitter.com/ThePetBot" class="social-media twitter"></a>
    <a href="https://www.facebook.com/mypetbot" class="social-media facebook"></a>
    <a href="https://www.pinterest.com/thepetbot/" class="social-media pinterest"></a>
    <div class="faq-container">
      <a href="./faq/" class="faq">Learn More</a>
    </div>
    <div class="cta-container">
      <a href="https://www.indiegogo.com/projects/petbot-petcam-for-people-smartphone-for-pets/contributions/new#/select-perk" class="cta">BUY PETBOT</a>
    </div>
  </div>
</header>
