<section class="splash flex row background-img">
</section>

<section class="headline">
  <div class="headline">
    <h1 class="your-petcam animate-in-transition hideMe-left">YOUR PETCAM</h1>
    <h1 class="their-smartphone pink animate-in-transition hideMe-right">THEIR SMARTPHONE</h1>
  </div>
</section>

<section class="petbot-summary">
  <h2 class="white summary-title animate-in-transition hideMe">Check in on your pet while you’re away.</h2>
  <p class="white summary-body animate-in-transition hideMe">Interact with your pet by using a treat dispenser, built in camera and speaker. PetBot is the only pet monitoring tool that gives your pets the ability to <span class="underline">send you selfies throughout the day</span>, allowing for true two-way communication.</p>
  <div class="flex row flex-center">
    <img class="pet-icons pet-cat animate-in-transition hideMe" src="./assets/pet-cat.svg" />
    <img class="pet-icons pet-browndog animate-in-transition hideMe" src="./assets/pet-browndog.svg" />
    <img class="pet-icons pet-greydog animate-in-transition hideMe" src="./assets/pet-greydog.svg" />
  </div>
</section>

<section class="petbot-svg">
  <div class="petbot-svg-container animate-in-transition hideMe">
    <h2 class="center">Explore PetBot</h2>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 1136 574" style="enable-background:new 0 0 1136 574;" xml:space="preserve">
    <image style="overflow:visible;" width="442" height="540" xlink:href="./assets/petbot.png"  transform="matrix(1 0 0 1 319 18)">
    </image>
    <path class="wifi" style="fill:#FFFFFF;" d="M650.8,5c15.2,11.8,25,30.2,25,50.9c0,35.6-28.8,64.4-64.4,64.4
    	c-21.3,0-40.3-10.4-52-26.4c-1.5,34.3-29.7,61.6-64.3,61.6c-35.6,0-64.4-28.8-64.4-64.4c0-35.6,28.8-64.4,64.4-64.4
    	c21.3,0,40.3,10.4,52,26.4C547.9,33.5,557.5,16.2,572,5H326v558h467V5H650.8z"/>
    <path class="body" style="fill:#FFFFFF;" d="M306.5,8v558h467V8H306.5z M474.1,548.6c-187.5-36-139.5-37.5-139.5-37.5l-21-322.3
    	c0,0-12-129.2,73.5-12.2S661.6,584.6,474.1,548.6z"/>
    <path class="camera" style="fill:#FFFFFF;" d="M309.5,11v558h467V11H309.5z M670.1,315c-39.4,0-71.4-32-71.4-71.4s32-71.4,71.4-71.4
    	s71.4,32,71.4,71.4S709.5,315,670.1,315z"/>
    <path class="treat-dispenser" style="fill:#FFFFFF;" d="M314.5,5v558h467V5H314.5z M665.1,480.8c-41.4,0-75-33.6-75-75c0-41.4,33.6-75,75-75
    	c41.4,0,75,33.6,75,75C740.1,447.2,706.5,480.8,665.1,480.8z"/>
    <circle style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" cx="441.6" cy="312" r="12.2"/>
    <circle style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" cx="711.8" cy="202" r="12.2"/>
    <circle style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" cx="711.8" cy="422" r="12.2"/>
    <circle style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" cx="466" cy="40.2" r="12.2"/>
    <line style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" x1="453.8" y1="40.2" x2="280" y2="40.2"/>
    <line style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" x1="429.4" y1="312" x2="280" y2="312"/>
    <line style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" x1="724" y1="202" x2="826" y2="202"/>
    <line style="fill:none;stroke:#F27E7E;stroke-width:4;stroke-miterlimit:10;" x1="724" y1="422" x2="816" y2="422"/>
    <text transform="matrix(1 0 0 1 851.9981 209.5001)" style="font-family:'Corbel'; font-size:28.4921px; letter-spacing:2;">CAMERA</text>
    <text transform="matrix(1 0 0 1 851.9981 434.2054)" style="font-family:'Corbel'; font-size:28.4921px; letter-spacing:2;">TREAT DISPENSER</text>
    <text transform="matrix(1 0 0 1 35.4985 50.9107)" style="font-family:'Corbel'; font-size:28.4921px; letter-spacing:2;">WIFI-ENABLED</text>
    <text class="wifi-desc" transform="matrix(1 0 0 1 35.4985 106.9107)">
      <tspan x="0" y="0" style="font-family:'Corbel'; font-size:24px;">Connects to home</tspan>
      <tspan x="0" y="28.8" style="font-family:'Corbel'; font-size:24px;">wireless.</tspan>
      <tspan x="0" y="57.6" style="font-family:'Corbel'; font-size:24px;"></tspan>
    </text>
    <text class="body-desc" transform="matrix(1 0 0 1 110.999 367.3978)">
      <tspan x="0" y="0" style="font-family:'Corbel'; font-size:24px;">The body holds</tspan>
      <tspan x="0" y="28.8" style="font-family:'Corbel'; font-size:24px;">treats in dimensions</tspan>
      <tspan x="0" y="57.6" style="font-family:'Corbel'; font-size:24px;">5in x 5in x 5in.</tspan>
    </text>
    <text class="camera-desc" transform="matrix(1 0 0 1 851.9981 256.4034)">
      <tspan x="0" y="0" style="font-family:'Corbel'; font-size:24px;">720p HD camera</tspan>
      <tspan x="0" y="28.8" style="font-family:'Corbel'; font-size:24px;">captures your pet's activities.</tspan>
    </text>
    <text class="treat-dispenser-desc" transform="matrix(1 0 0 1 851.9981 475.8924)">
      <tspan x="0" y="0" style="font-family:'Corbel'; font-size:24px;">Reward your pet often</tspan>
      <tspan x="0" y="28.8" style="font-family:'Corbel'; font-size:24px;">with bite-sized rewards</tspan>
    </text>
    <g>
    	<circle style="fill:#F27E7E;" cx="13.5" cy="40.2" r="9.8"/>
    	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="16.6,37.8 13.6,42.6 13.4,42.6 10.4,37.8 	"/>
    </g>
    <g>
    	<circle style="fill:#F27E7E;" cx="84" cy="312" r="9.8"/>
    	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="87.1,309.6 84.1,314.4 83.9,314.4 80.9,309.6 	"/>
    </g>
    <g>
    	<circle style="fill:#F27E7E;" cx="996" cy="202" r="9.8"/>
    	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="999.1,199.6 996.1,204.4 995.9,204.4 992.9,199.6 	"/>
    </g>
    <g>
    	<circle style="fill:#F27E7E;" cx="1125.8" cy="422" r="9.8"/>
    	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="1128.9,419.6 1125.8,424.4 1125.7,424.4 1122.6,419.6 	"/>
    </g>
    <text transform="matrix(1 0 0 1 110.999 321.2051)" style="font-family:'Corbel'; font-size:28.4921px; letter-spacing:2;">SEXY BOD</text>
    <rect class="wifi-trigger trigger" style="opacity:0;" x="14" y="13" width="482" height="62"/>
    <rect class="body-trigger trigger" style="opacity:0;" x="72" y="281" width="394" height="62"/>
    <rect class="camera-trigger trigger" style="opacity:0;" x="665.1" y="171" width="394" height="62"/>
    <rect class="treat-dispenser-trigger trigger" style="opacity:0;" x="670.1" y="391" width="465.9" height="62"/>
    </svg>
  </div>

</section>

<section class="revolutionary-features">
  <div class="flex row main-features animate-in-transition hideMe">
    <div class="thirds">
      <div class="ios-noise-container">
        <img class="ios-app" src="./assets/ios-noise.gif" />
      </div>
      <h2 class="white center">See their face</h2>
      <p class="white center">Log in to your smartphone application to play a noise, and watch your pet come running over!</p>
    </div>
    <div class="thirds">
      <div class="background-img treats"></div>
      <h2 class="white center">Toss a treat</h2>
      <p class="white center">Reward your pet with a tasty treat right from your smartphone.</p>
    </div>
    <div class="thirds">
      <div class="background-img selfie"></div>
      <h2 class="white center">Get a pet-selfie</h2>
      <p class="white center">Throughout the day, pets can send you bark/meow notifications or pet selfies on their own.</p>
    </div>
  </div>
  <div class="flex row secondary-features animate-in-transition hideMe">
    <div class="halves">
      <div class="list">
        <ul>
          <li class="white">Ability to mount PetBot on the wall</li>
          <li class="white">Customization of the treat type</li>
          <li class="white">Schedule pet-selfies to be taken</li>
          <li class="white">Low treat level notifications</li>
        </ul>
      </div>
    </div>
    <div class="halves">
      <div class="list no-border-hack">
        <ul class="relative">
          <li class="white">Customize the look of your PetBot</li>
          <li class="white">Bark type recognition</li>
          <li class="dot"></li>
          <li class="white"><a href="http://www.livescience.com/34093-dogs-laser-beams.html">Interactions don't add to pet stress levels</a></li>
        <ul>
      </div>
    </div>
  </div>

</section>

<section class="videos">
  <div class="flex row">
    <div class="halves">
      <h2>Our Story</h2>
      <div class="video-wrapper">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Ap2XI0QBcfY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="halves">
      <h2>Our Customers</h2>
      <div class="video-wrapper">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GQJJCLFWAag" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="the-team">
  <div class="flex row">
    <div class="thirds">
      <h2 class="white">Zoran</h2>
      <p class="white">Likes Pina Colada and walks in the rain</p>
    </div>
    <div class="thirds">
      <h2 class="white">Misko</h2>
      <p class="white">Loves his girlfriend and wants to get a cat.</p>
    </div>
    <div class="thirds">
      <h2 class="white">Simon</h2>
      <p class="white">Has skype and goes on skype sometimes.</p>
    </div>
  </div>
</section>
