<section class="splash-section flex column background-img">
  <div class="play-video">
    <a class="various fancybox.iframe" href="https://www.youtube.com/embed/WLx4ZVKZe-I">
      <p class="large-caps play-text">Play Video<p>
      <div class="background-img play-button"></div>
    </a>
  </div>
</section>

<section class="headline">
  <div class="section-container">
    <div class="headline-container">
      <h1 class="accent your-petcam animate-in-transition hideMe-left">YOUR PETCAM</h1>
      <h1 class="white their-smartphone animate-in-transition hideMe-right">THEIR SMARTPHONE</h1>
    </div>
  </div>
</section>

<section class="petbot-summary">
  <div class="section-container">
    <div class="pet-brown-dog flex row flex-center">
      {% include pet-browndog.svg %}
    </div>
    <h2 class="large-caps summary-title">Check in on your pet while you’re away.</h2>
    <p class="summary-body">Interact with your pet by using a treat dispenser, built in camera and speaker. PetBot is the only pet monitoring tool that gives your pets the ability to <span class="underline">send you selfies throughout the day</span>, allowing for true two-way communication.</p>
  </div>
</section>

<section class="petbot-svg">
  <div class="section-container">
    <div class="pet-cat flex row flex-center">
      {% include pet-cat.svg %}
    </div>
    <div class="petbot-svg-container">
      <h2 class="explore-title large-caps center">Explore PetBot</h2>
      <svg class="petbot-explore-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 1136 574" style="enable-background:new 0 0 1136 574;" xml:space="preserve">
      <image style="overflow:visible;" width="442" height="540" xlink:href="./assets/petbot.png"  transform="matrix(1 0 0 1 319 18)">
      </image>
      <path class="wifi" style="fill:#FFFFFF;" d="M650.8,5c15.2,11.8,25,30.2,25,50.9c0,35.6-28.8,64.4-64.4,64.4
      	c-21.3,0-40.3-10.4-52-26.4c-1.5,34.3-29.7,61.6-64.3,61.6c-35.6,0-64.4-28.8-64.4-64.4c0-35.6,28.8-64.4,64.4-64.4
      	c21.3,0,40.3,10.4,52,26.4C547.9,33.5,557.5,16.2,572,5H326v558h467V5H650.8z"/>
      <path class="body" style="fill:#FFFFFF;" d="M306.5,8v558h467V8H306.5z M474.1,548.6c-187.5-36-139.5-37.5-139.5-37.5l-21-322.3
      	c0,0-12-129.2,73.5-12.2S661.6,584.6,474.1,548.6z"/>
      <path class="camera" style="fill:#FFFFFF;" d="M309.5,11v558h467V11H309.5z M670.1,315c-39.4,0-71.4-32-71.4-71.4s32-71.4,71.4-71.4
      	s71.4,32,71.4,71.4S709.5,315,670.1,315z"/>
      <path class="treat-dispenser" style="fill:#FFFFFF;" d="M314.5,5v558h467V5H314.5z M665.1,480.8c-41.4,0-75-33.6-75-75c0-41.4,33.6-75,75-75
      	c41.4,0,75,33.6,75,75C740.1,447.2,706.5,480.8,665.1,480.8z"/>
      <circle class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" cx="441.6" cy="312" r="12.2"/>
      <circle class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" cx="711.8" cy="202" r="12.2"/>
      <circle class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" cx="711.8" cy="422" r="12.2"/>
      <circle class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" cx="466" cy="40.2" r="12.2"/>
      <line class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" x1="453.8" y1="40.2" x2="280" y2="40.2"/>
      <line class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" x1="429.4" y1="312" x2="280" y2="312"/>
      <line class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" x1="724" y1="202" x2="826" y2="202"/>
      <line class="accent-stroke" style="fill:none;stroke-width:4;stroke-miterlimit:10;" x1="724" y1="422" x2="816" y2="422"/>
      <text transform="matrix(1 0 0 1 851.9981 209.5001)" style="font-size:28.4921px; letter-spacing:2;">CAMERA</text>
      <text transform="matrix(1 0 0 1 851.9981 434.2054)" style="font-size:28.4921px; letter-spacing:2;">TREAT DISPENSER</text>
      <text transform="matrix(1 0 0 1 35.4985 50.9107)" style="font-size:28.4921px; letter-spacing:2;">WIFI-ENABLED</text>
      <text class="wifi-desc" transform="matrix(1 0 0 1 35.4985 106.9107)">
        <tspan x="0" y="0" style="font-size:16px;">Connects to home</tspan>
        <tspan x="0" y="28.8" style="font-size:16px;">wireless.</tspan>
        <tspan x="0" y="57.6" style="font-size:16px;"></tspan>
      </text>
      <text class="body-desc" transform="matrix(1 0 0 1 110.999 367.3978)">
        <tspan x="0" y="0" style="font-size:16px;">The body holds</tspan>
        <tspan x="0" y="28.8" style="font-size:16px;">treats in dimensions</tspan>
        <tspan x="0" y="57.6" style="font-size:16px;">5in x 5in x 5in.</tspan>
      </text>
      <text class="camera-desc" transform="matrix(1 0 0 1 851.9981 256.4034)">
        <tspan x="0" y="0" style="font-size:16px;">720p HD camera</tspan>
        <tspan x="0" y="28.8" style="font-size:16px;">captures your pet's activities.</tspan>
      </text>
      <text class="treat-dispenser-desc" transform="matrix(1 0 0 1 851.9981 475.8924)">
        <tspan x="0" y="0" style="font-size:16px;">Reward your pet often</tspan>
        <tspan x="0" y="28.8" style="font-size:16px;">with bite-sized rewards</tspan>
      </text>
      <g>
      	<circle class="accent-fill" cx="13.5" cy="40.2" r="9.8"/>
      	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="16.6,37.8 13.6,42.6 13.4,42.6 10.4,37.8 	"/>
      </g>
      <g>
      	<circle class="accent-fill" cx="84" cy="312" r="9.8"/>
      	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="87.1,309.6 84.1,314.4 83.9,314.4 80.9,309.6 	"/>
      </g>
      <g>
      	<circle class="accent-fill" cx="996" cy="202" r="9.8"/>
      	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="999.1,199.6 996.1,204.4 995.9,204.4 992.9,199.6 	"/>
      </g>
      <g>
      	<circle class="accent-fill" cx="1125.8" cy="422" r="9.8"/>
      	<polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="1128.9,419.6 1125.8,424.4 1125.7,424.4 1122.6,419.6 	"/>
      </g>
      <text transform="matrix(1 0 0 1 110.999 321.2051)" style="font-size:28.4921px; letter-spacing:2;">SEXY BOD</text>
      <rect class="wifi-trigger trigger" style="opacity:0;" x="14" y="13" width="482" height="62"/>
      <rect class="body-trigger trigger" style="opacity:0;" x="72" y="281" width="394" height="62"/>
      <rect class="camera-trigger trigger" style="opacity:0;" x="665.1" y="171" width="394" height="62"/>
      <rect class="treat-dispenser-trigger trigger" style="opacity:0;" x="670.1" y="391" width="465.9" height="62"/>
      </svg>
    </div>

  </div>
</section>

<section class="revolutionary-features">
  <div class="section-container">

    <h2 class="revolutionary-features-title large-caps white center">Revolutionary Features</h2>
    <div class="flex row main-features">
      <div class="thirds ios-app-container">
        <div class="background-img ios-app"></div>
        <h2 class="white center">See their face</h2>
        <p class="white center">Log in to your smartphone application to play a noise, and watch your pet come running over!</p>
      </div>
      <div class="thirds treats-container">
        <div class="background-img treats"></div>
        <h2 class="white center">Toss a treat</h2>
        <p class="white center">Reward your pet with a tasty treat right from your smartphone! Useful for training or stimulation when you have to be away.</p>
      </div>
      <div class="thirds selfie-container">
        <div class="background-img selfie"></div>
        <h2 class="white center">Pet-selfies!</h2>
        <p class="white center">Petbots petificial intelligence can recognize your pet nearby and send you spontaneous petselfies throughout the day. Each petselfie includes a 10 second video clip your furry companion enjoying a bite sized reward!</p>
      </div>
    </div>
    <div class="flex row secondary-features">
      <div class="halves">
        <div class="list">
          <ul>
            <li class="white"><span class="accent">Durable</span> - Made from quality plastic with support for wall mounting for even the most devious of pets</li>
            <li class="white"><span class="accent">Send the treats you want</span> - Supports many small to medium treat forma</li>
            <li class="white"><span class="accent">Spontaneous petselfies</span> - Brighten up your day by receiving these special video messages from your pet</li>
          </ul>
        </div>
      </div>
      <div class="halves">
        <div class="list no-border-hack">
          <ul class="relative">
            <li class="white"><span class="accent">Refill warning</span> - Let PetBot notify you when you are almost out of treats</li>
            <li class="white"><span class="accent">Bark Recognition</span> - State of the art algorithms are able to recognize and report when your pet is excessively barking</li>
            <li class="dot"></li>
            <li class="white"><a href="http://www.livescience.com/34093-dogs-laser-beams.html"><span class="accent">Don't add stress</span></a> - With small treats, you can't go wrong</li>
          <ul>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="videos">
  <div class="section-container">
    <div class="flex row">
      <div class="halves">
        <h2 class="video-title large-caps">Our Story</h2>
        <div class="video-wrapper video-our-story">
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Ap2XI0QBcfY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="halves">
        <h2 class="large-caps">Our Customers</h2>
        <div class="video-wrapper video-our-customers">
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GQJJCLFWAag" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="flex row flex-center pet-grey-dog">
      {% include pet-greydog.svg %}
    </div>
  </div>
</section>

<section class="the-team">
  <div class="section-container">

    <div class="flex row">
      <div class="thirds">
        <h2 class="white">Zoran</h2>
        <p class="white">Likes Pina Colada and walks in the rain</p>
      </div>
      <div class="thirds">
        <h2 class="white">Misko</h2>
        <p class="white">Loves his girlfriend and wants to get a cat.</p>
      </div>
      <div class="thirds">
        <h2 class="white">Simon</h2>
        <p class="white">Has skype and goes on skype sometimes.</p>
      </div>
    </div>
  </div>
</section>
