/**
 * Basic styling
 */
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-width: 320px;
    margin: 0;
}

a {
  color: white;
}

a:hover {
  color: #f27e7e;
}

section,
footer {
  padding: 80px;
}

footer {
  background-color: #43403a;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  section,
  footer {
    padding: 50px;
  }

}
