header {
  position: fixed;
  height: 60px;
  background-color: rgba(255,255,255, .8);
  width: 100%;
  top: 0;
  z-index: 100;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin: 13px;
}

.menu-right {
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-tabs {
  margin: 19px 30px;
  cursor: pointer;
}

.cta-container,
.faq-container {
  height: 100%;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 15px;
}

.faq {
  text-align: center;
  height: 25px;
  border: 2px solid #343434;
  text-decoration: none;
  padding: 6px 10px;
  background-color: none;
  color: #343434;
}

.cta {
  text-align: center;
  height: 25px;
  background-color: $accent;
  color: white;
  border: none;
  padding: 6px 10px;
  text-decoration: none;
  transition: all .3s ease;
  font-weight: bolder;
}

.cta:hover {
  background-color: white;
  color: $accent;
}

/* MOBILE */
@media only screen and (max-width: 900px) {
  .menu-tabs {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .social-media {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .faq-container {
    display: none;
  }
}
