// SECTION ONE: LARGE IMAGE

.splash {
  // margin-top: 60px;
  min-height: 300px;
  background-image: url('../assets/petbot1.jpg');
  @media only screen and (max-width: 600px) {
    min-height: 150px;
  }
  @media only screen and (min-width: 1000px) {
    min-height: 450px;
  }
}

.play-video {
  height: 82px;
  width: 230px;
  border: 3px solid white;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease;
  overflow: hidden;
  align-self: center;
  .play-text {
    transition: all .2s ease;
    color: white;
    position: relative;
  }
  .play-button {
    transition: all .2s ease;
    background-image: url('../assets/play-button.svg');
    height: 40px;
    width: 40px;
    margin: 0 auto;
    opacity: 0;
  }
  &:hover {
    background-color: $accent;
    .play-text {
      transform: translateY(-20px);
      opacity: 0;
    }
    .play-button {
      opacity: 1;
      transform: translateY(-65px);
    }
  }
}



// SECTION TWO: HEADLINE

.headline {
  padding: 0 10px;
  height: 150px;
  background-color: $dark;
  height: 114px;
  @media only screen and (max-width: 600px) {
    height: 58px;
  }
}

.headline-container {
  max-width: 800px;
  margin: 0 auto;
}

.your-petcam {
  margin: 0;
  position: relative;
  top: -26px;
  font-size: 4em;
  @media only screen and (max-width: 600px) {
    top: -15px;
    font-size: 2.3em;
  }
}

.their-smartphone {
  margin: 0;
  text-align: right;
  position: relative;
  top: -62px;
  font-size: 4em;
  color: white;
  font-weight: bolder;
  @media only screen and (max-width: 600px) {
    font-size: 2em;
    top: -38px;
  }
}



// SECTION THREE: SUMMARY

.petbot-summary {
  // background-color: $accent;
}

.pet-icons {
  min-height: 180px;
}

.pet-cat {
  position: relative;
  left: 67px;
}

.pet-greydog {
  position: relative;
  left: -40px;
}


// SECTION FOUR: PETBOT SVG

.petbot-svg {
  padding: 80px 15%;
  @media only screen and (max-width: 600px) {
    padding: 40px 0;
  }
}



// SECTION FIVE: REVOLUTIONARY FEATURES

.revolutionary-features {
  background-color: $dark;
}

.list {
  line-height: 45px;
  font-size: 15px;
  margin-top: 50px;
  border-top: 1px solid #949494;
  color: #e2e2e2;
  @media only screen and (max-width: 600px) {
    border-top: none;
    &.no-border-hack {
      margin-top: -25px;
    }
    li {
      line-height: 25px;
      padding-top: 10px;
    }
  }
}

.ios-noise-container {
  height: 200px;
  width: 113px;
  border-radius:5px;
  margin: 0 auto;
  background-color: black;
  overflow: hidden;
}

.ios-app {
  background-image: url('../assets/app-sprite.png');
  height: 200px;
  width: 113px;
  border-radius:5px;
  margin: 0 auto;
  animation: ios-sprite 5s steps(6) infinite;
}

.treats {
  background-image: url('../assets/treats.jpg');
  height: 200px;
  width: 200px;
  border-radius:5px;
  margin: 0 auto;
}

.selfie {
  background-image: url('../assets/pet-selfie.png');
  height: 200px;
  width: 113px;
  border-radius:5px;
  margin: 0 auto;
}




// SECTION SIX: VIDEOS

.videos .halves {
  padding: 10px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



// SECTION SEVEN: THE TEAM

.the-team {
  display: none; // REMOVE WHEN INFO IS READY
  background-color: $accent;
}

// COMMON

.dot {
  position: absolute;
  color: red;
  animation: laser 5s ease infinite alternate;
}

.wifi,
.body,
.camera,
.treat-dispenser,
.wifi-desc,
.body-desc,
.camera-desc,
.treat-dispenser-desc {
  transition: opacity .5s;
}
