.social-media {
  height: 100%;
  width: 30px;
  height: 30px;
  background-size: 90px 60px;
}

.twitter,
.facebook,
.pinterest {
  background-image: url('../assets/social-sprite.png');
  margin-right: 15px;
}

.twitter {
  background-position: 60px 30px;
}

.facebook {
  background-position: 0px 30px;
}

.pinterest {
  background-position: 30px 30px;
}

.twitter:hover {
  background-position: 60px 0px;
}

.facebook:hover {
  background-position: 0px 0px;
}

.pinterest:hover {
  background-position: 30px 0px;
}

.pink {
  color: #f27e7e;
}

.white {
  color: white;
}

.background-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.center {
  text-align: center;
}

.hide {
  opacity: 0;
}

.hideMe {
  opacity: 0;
  transform: translateY(50px);
}

.hideMe-left {
  opacity: 0;
  transform: translateX(-50px);
}

.hideMe-right {
  opacity: 0;
  transform: translateX(50px);
}

.trigger {
  cursor: pointer;
}

.relative {
  position: relative;
}

.underline {
  text-decoration: underline;
}

.caps {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: lighter;
}
